@import '../styles/custom-properties.scss';

:root {
  --top-bottom-space: 5vmin;
  --body-height: 40vh;
}

@mixin iconStyles {
  border-radius: 50%;
  min-width: 5vmin;
  min-height: 5vmin;
  max-width: 5vmin;
  max-height: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    // display: none;
  }
}

.toast {
  position: relative;
  margin: 2vmin;
}
.toastHeader {
  display: flex;
  justify-content: space-between;
  height: var(--top-bottom-space);
}
.toastBody {
  display: flex;
  flex-direction: column;
  max-height: var(--body-height);
  overflow-y: scroll;
}
.userIcon {
  @include iconStyles;
  background-color: var(--admin-black);
  color: var(--admin-white);
}
.userQuote {
  align-self: flex-start;
  text-align: left;
  background-color: var(--admin-black);
  color: var(--admin-white);
  padding: 0.25rem 0.375rem;
  border-radius: 0 0.85rem 0.85rem 0.85rem;
  margin: 0.95rem 0.25rem 0.5rem;
}
.adminIcon {
  @include iconStyles;
  background-color: var(--admin-white);
  color: var(--admin-black);
}
.adminQuote {
  align-self: flex-end;
  text-align: right;
  background-color: var(--admin-white);
  color: var(--admin-black);
  padding: 0.25rem 0.375rem;
  border-radius: 0.85rem 0 0.85rem 0.85rem;
  margin: 0.95rem 0.25rem 0.5rem;
}
